<!--
  Generated template for the ConferencePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header color="primary">
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>회의실예약목록</ion-title>
    <ion-buttons end>
      <button ion-button icon-ony (click)='roomReserve();'>
        <ion-icon name='add-circle'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of reservList">
    <ion-item>
      <ion-avatar item-start *ngIf="item.roomId === '01'">
        <img src="assets/imgs/conference-room-main.png">
      </ion-avatar>
      <ion-avatar item-start *ngIf="item.roomId === '02'">
        <img src="assets/imgs/conference-room-sub.png">
      </ion-avatar>
      <h2>{{item.conferenceTitle}}</h2>
      <p>{{item.roomId}}</p>
      <p>{{item.conferenceDate}}</p>
      <p>{{item.startTime}} ~ {{item.endTime}}</p>
    </ion-item>

    <!-- <img src="img/advance-card-bttf.png"> -->

    <ion-card-content>
      <p>{{item.conferenceContents}}</p>
    </ion-card-content>

    <ion-row>
      <!-- <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col> -->
      <ion-col>
        <button ion-button icon-start clear small (click)="writeMessage(item.rid)">
          <ion-icon name="text"></ion-icon>
          <div *ngIf="item.messages === 'undefined'; else">0 Comments</div>
          <div #else>{{item.messages.length}} Comments</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>