<ion-header color="primary">
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>회의실예약목록</ion-title>
    <ion-buttons end>
      <button ion-button icon-ony (click)='roomReserve();'>
        <ion-icon name='add-circle'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<!-- <timeline endIcon="call">
  <timeline-item *ngFor="let item of reservList">
    <timeline-time [time]="item.time"></timeline-time>
      <ion-icon [name]="item.icon"></ion-icon>
      <ion-card >
        <ion-header>
          <h2>{{item.conferenceTitle}}</h2>
        </ion-header>
        <ion-card-content>
            <ion-item>
                <ion-avatar item-start *ngIf="item.roomId === '01'">
                  <img src="assets/imgs/conference-room-main.png">
                </ion-avatar>
                <ion-avatar item-start *ngIf="item.roomId === '02'">
                  <img src="assets/imgs/conference-room-sub.png">
                </ion-avatar>
                <p>{{item.roomId}}</p>
                <p>{{item.conferenceDate}}</p>
                <p>{{item.startTime}} ~ {{item.endTime}}</p>
              </ion-item>

        </ion-card-content>
      </ion-card>
 </timeline-item>
</timeline> -->
<timeline endIcon="pulse">
    <timeline-item *ngFor="let item of reservList">
      <timeline-time [time]="item.time"></timeline-time>
      <ion-icon [name]="item.icon"></ion-icon>
      <ion-card>
        <ion-card-header>
          {{item.conferenceTitle}}
        </ion-card-header>
        <ion-card-content>
          {{item.conferenceContents}}
        </ion-card-content>
        <ion-row>
            <ion-col>
              <button ion-button color="primary" clear small float-right (click)="viewMessages(item)">
              <!-- <ion-icon name="home"></ion-icon> -->
              {{item.messagesCnt}} Comments
            </button>
            </ion-col>
          </ion-row>
      </ion-card>
    </timeline-item>

  </timeline>

</ion-content>
