<ion-header color="primary">
  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>RESERVATION</ion-title>
    <ion-buttons end>
      <button ion-button icon-ony (click)='roomReserve();'>
        <ion-icon name='create'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="list-avatar-page">
  <section class="home-image" [ngStyle]="{ 'background-image': 'url(' + pageProperty.image + ')'}">
    <section class="home-banner" padding>
      <span class="home-title">회의실 예약 목록</span>
    </section>
  </section>
  <ion-list>
    <div *ngFor="let item of reservList">
      <ion-list-header *ngIf="item.isDisplay()">{{item.conferenceDate}}</ion-list-header>

      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/avatar/avatar-ts-woody.png">
        </ion-avatar>
        <h2>{{item.conferenceTitle}} / {{item.time}}</h2>
        <p>{{item.conferenceContents}}</p>
        <ion-note item-end>
          <button ion-button color="dark" clear small float-right (click)="viewMessages(item)">
            <ion-icon name="chatbubbles"></ion-icon> {{item.messagesCnt}} Comments
          </button>
        </ion-note>
      </ion-item>

    </div>
  </ion-list>
</ion-content>
